@charset "utf-8";
.FOOTER {
    width: 1111px;
    height: 139px;
    background-image: -webkit-linear-gradient(270deg,rgba(255,255,255,1.00) 0%,rgba(186,236,53,1.00) 100%);
    background-image: -moz-linear-gradient(270deg,rgba(255,255,255,1.00) 0%,rgba(186,236,53,1.00) 100%);
    background-image: -o-linear-gradient(270deg,rgba(255,255,255,1.00) 0%,rgba(186,236,53,1.00) 100%);
    background-image: linear-gradient(180deg,rgba(255,255,255,1.00) 0%,rgba(186,236,53,1.00) 100%);
}
.FOOTER #logo {
    float: left;
}
.FOOTER #hotenlop {
    float: left;
    text-align: center;
    margin-left: 313px;
    font-size: x-large;
    margin-top: 41px;
}
.container-fluid .container h1 {
    color: #1B6BD8;
}

#navbarSupportedContent1 .form-inline.my-2.my-lg-0 .btn.btn-outline-success.my-2.my-sm-0 {
}
.container-fluid .container .navbar.navbar-expand-lg.navbar-light.bg-light {
    background-image: -webkit-linear-gradient(270deg,rgba(255,255,255,1.00) 0%,rgba(186,236,53,1.00) 100%);
    background-image: -moz-linear-gradient(270deg,rgba(255,255,255,1.00) 0%,rgba(186,236,53,1.00) 100%);
    background-image: -o-linear-gradient(270deg,rgba(255,255,255,1.00) 0%,rgba(186,236,53,1.00) 100%);
    background-image: linear-gradient(180deg,rgba(255,255,255,1.00) 0%,rgba(186,236,53,1.00) 100%);
}
body {
    background-color: #ABE857;
}
